@page "{restid:int}"
@model dotnetcore_razor.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Retaurant Page</h1>

<div>
    <h2>
        Name : @Model.Restaurant.Name
    </h2>
</div>
<div>
    Location : @Model.Restaurant.Location
</div>
<div>
    ID : @Model.Restaurant.Id
</div>
<div>
    Cuisine : @Model.Restaurant.Type
</div>
<a asp-page="./List" class="btn btn-danger">All Restaurants</a>
<br />
<br />
<br />
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert-info">
         @Model.SuccessMessage
    </div>
}

